@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --color-app-bg: #F5F2ED;
  --color-panel-bg: #FFFFFF;
  --color-accent-primary: #296A3D;
  --color-accent-secondary: #004E89;
  --color-accent-orange: #B2971A;
  --color-accent-blue: #407BA7;
  --color-text-dark: #2D2828;
  --color-text-muted: #4E5154;
  --color-border-light: rgba(45, 40, 40, 0.1);
}

@layer base {
  body {
    @apply bg-app-bg text-text-dark font-sans;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #F5F2ED;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #B2971A;
    border-radius: 10px;
    border: 2px solid #F5F2ED;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #A58802;
  }
}
